/*header*/

header {
	background-color: #E56B15;
	display: flex;
	justify-content: center;
}

header img {
	flex-grow: 1;
}

/*navigation*/

.bg-nav {
	background-color: #E56B15;
}


/*hero image carousel*/

.heroimg img {
	height: 850px;
	min-width: 100%;
	background-color: #FFAB70;
}

section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #E56B15;
}

article img {
	height: 210px;
	width: 290px;
	margin: 30px 40px;
}

/*footer*/
footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #E56B15;
}

footer a {
	margin: 30px;
	color: white;
}
